section#head-img{
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    background-position: top;
    height: 10rem;
} 

section img{
    width: 25rem;
    margin-top: 3rem;
}
#main-title{
    font-size: 3rem;
}
